* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

/* headerrr----------------------------------------------------- */

header {
  background-color: hsl(131, 44%, 27%);
  width: 100%;
  padding: 34px 0 34px 0;
  border-bottom: 3px solid rgb(255, 255, 255);
  box-shadow: 34 56px 18px rgba(0, 0, 0, 0.3);

}

header h1 {
  text-align: center;
  font-size: 2.3rem;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: #f0f0f0;
  position: relative;
  z-index: 2;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);

}

/*barra de navegacion--------------------------------------------------*/
nav {
  position: absolute;
  top: 7rem;
  width: 100%;
  margin-top: 7rem;
  max-width: 100%;
  z-index: 10;
  margin: 0;
  padding: 1rem 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      /* apenas oscuro arriba */
      rgba(0, 0, 0, 0) 100%
      /* transparente abajo */
    );
}



nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin: 0;
  gap: 70px;

}

nav ul li {
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  color: #fff;

  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);/* sombrita */
  white-space: nowrap;
  transition: transform 0.2s ease;
}

nav ul li:hover {
  background-color: hsl(130, 35%, 20%, 0.8);
  transform: scale(1.10);
}

nav ul li:active {
  transform: scale(1.05);
}

nav ul li a {
  text-decoration: none;         
  color: inherit;                
  display: inline-block;         
}
/* slider------------------------------------------------------------ */

.slidbox {
  width: 100%;
  overflow: hidden;

}


/* la lista de cada foto */
.slidbox ul {
  display: flex;
  padding: 0;
  margin: 0;
  width: 600%;
  animation: slide 40s infinite;
}

/* Cada slider */
.slidbox li {
  width: 100vw;
  height: calc(100vh - 95px);
  list-style: none;
  position: relative;
  flex-shrink: 0;
}

/*imagen individual */
.slidbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;/*relleno sin deformarcion*/
}

/* texto de slider */
.txt {
  position: absolute;
  top: 50%; /* centrado vertical */
  left: 50%;/* centrado horizontal */
  transform: translate(-50%, -50%);/* centrado */
  text-align: center;
  color: white;
  padding: 0 50px;
}

.txt h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.txt h3 {
  font-size: 30px;
  margin-bottom: 20px;
}


.t1 {
   position: absolute;
  top: 45%;
  left: 35%;
  text-align: left;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0.2rem 0.6rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.sld {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.t2 {

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0.2rem 0.6rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);

}

.t3 {

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0.2rem 0.6rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);

}

.t4 {
  position: absolute;
  top: 45%;
  left: 35%;
  text-align: left;
  
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0.2rem 0.6rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);

}


.t5 {

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0.2rem 0.6rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);

}

.t6 {

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0.2rem 0.6rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);

}


@keyframes slide {
  0% {

    transform: translateX(0);
  }

  /* slider 1 */
  13% {
    transform: translateX(0);
  }

  16% {
    transform: translateX(-100vw);
  }

  /* slider 2 */
  29% {
    transform: translateX(-100vw);
  }

  32% {
    transform: translateX(-200vw);
  }

  /* slider 3 */
  45% {
    transform: translateX(-200vw);
  }

  48% {
    transform: translateX(-300vw);

    background-image: url(img/1.jpg);
  }

  16% {
    background-image: url(img/1.jpg);
  }

  21% {
    background-image: url(img/2.jpg);
  }

  40% {
    background-image: url(img/2.jpg);
  }

  41% {
    background-image: url(img/3.jpg);
  }

  60% {
    background-image: url(img/3.jpg);

  }

  /* slider 4 */
  61% {

    transform: translateX(-300vw);
  }

  64% {
    transform: translateX(-400vw);
  }

  77% {
    transform: translateX(-400vw);
  }

  80% {
    transform: translateX(-500vw);
  }

  100% {
    transform: translateX(-500vw);

    background-image: url(img/4.jpg);
  }

  80% {
    background-image: url(img/4.jpg);
  }

  81% {
    background-image: url(img/5.jpg);
  }

  100% {
    background-image: url(img/5.jpg);
  }

  101% {
    background-image: url(img/6.jpg);
  }

  120% {
    background-image: url(img/6.jpg);

  }
}


/* footer--------------------------------------------------------- */
.footer {
  border-top: 3px solid white;
  background-color: #1f1f1f;
  color: #eee;
  font-family: "Poppins", sans-serif;
  padding: 50px 16px 16px 50px;
  box-sizing: border-box;

}

.seccion1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 3rem;
  max-width: 1210px;
  margin: 0 auto;
  /* centrado */
}

.content h2 {
  margin-bottom: 18px;
  color: #fff;
  border-left: 4px solid rgb(17, 215, 156);
  padding-left: 8px;
}

.content ul {
  list-style: none;
  padding: 0;
}

.content ul li {
  margin-bottom: 9px;

}
.content ul li:hover {
 color: rgb(17, 215, 156);
 cursor: pointer;
}

.content ul li a {
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s;
}

.content ul li a:hover {
  color: rgb(17, 215, 156);

}



/*formulario-------------------------- */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input,
.form textarea {
  background: #353434;
  border: none;
  padding: 6px;
  color: white;
  border-radius: 6px;
}

.form button {
  background-color: rgb(17, 215, 156);
  border: none;
  color: #020202;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;

}


/* redesociales--------------------- */
.redesociales {
  display: flex;
  gap: 9px;

}

.redesociales img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.redesociales img:hover {
  transform: scale(1.3);
}

/* seccion2---------------------- */
.seccion2 {
  border-top: 1px solid #333;
  padding-top: 15px;
  margin-top: 35px;
  text-align: center;
  font-size: 0.9rem;
}

.seccion2 ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 10px;

}

.seccion2 ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.seccion2 ul li a:hover {
  color: rgb(17, 215, 156);
}