<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="StyleSheet" href="../../web/css/terrestres.css" type="text/css">
    <title>Dinosaurios Terrestres</title>
</head>
<body>
    <video autoplay muted loop id="videoFondo">
        <source src="../../web/videos/fondo-terrestres.mp4" type="video/mp4">
    </video>

    <header>DINOSAURIOS TERRESTRES</header>

    <!-- Menu de navegacion-->
    <section class="menu">
        <nav>
            <ul>
                <li><a href="../etapaMesozoico.html">Era Antigua</a></li>
                <li><a href="dinosaurios.html">Dinosaurios</a></li>
                <li><a href="../etapaCenozoico.html">Era Glaciar</a></li>
                <li><a href="../mamiferos.html">Mamíferos</a></li>
            </ul>
        </nav>
    </section>

    <!-- Contenedor de dinosaurios terrestres-->
    <section class="contenedor-terrestres">
        <!-- Tiranosaurio Rex -->
        <div class="dino-tarjeta">
            <div class="dino-imagen">
                <img src="../../web/img/rex.jpg" alt="Tiranosaurio Rex">
            </div>
            <h3>Tiranosaurio Rex</h3>
            <div class="dino-info">
                <p><strong>Periodo:</strong> Cretácico</p>
                <p><strong>Era:</strong> Mesozoico</p>
                <p><strong>Tiempo de vida:</strong> Hace 68-66 millones de años</p>
                <p><strong>Ubicación:</strong> Oeste de Norteamérica</p>
                <p><strong>Alimentación:</strong> Carnívoro</p>
                <p><strong>Agresividad:</strong> Muy alta</p>
                <p><strong>Familia:</strong> Tyrannosauridae</p>
                <p><strong>Especie:</strong> Tyrannosaurus rex</p>
            </div>
        </div>

        <!-- Triceratops -->
        <div class="dino-tarjeta">
            <div class="dino-imagen">
                <img src="../../web/img/triceratops.jpg" alt="Triceratops">
            </div>
            <h3>Triceratops</h3>
            <div class="dino-info">
                <p><strong>Periodo:</strong> Cretácico</p>
                <p><strong>Era:</strong> Mesozoico</p>
                <p><strong>Tiempo de vida:</strong> Hace 68-66 millones de años</p>
                <p><strong>Ubicación:</strong> Norteamérica</p>
                <p><strong>Alimentación:</strong> Herbívoro</p>
                <p><strong>Agresividad:</strong> Media</p>
                <p><strong>Familia:</strong> Ceratopsidae</p>
                <p><strong>Especie:</strong> Triceratops horridus</p>
            </div>
        </div>

        <!-- Velociraptor -->
        <div class="dino-tarjeta">
            <div class="dino-imagen">
                <img src="../../web/img/velociraptor.jpeg" alt="Velociraptor">
            </div>
            <h3>Velociraptor</h3>
            <div class="dino-info">
                <p><strong>Periodo:</strong> Cretácico</p>
                <p><strong>Era:</strong> Mesozoico</p>
                <p><strong>Tiempo de vida:</strong> Hace 75-71 millones de años</p>
                <p><strong>Ubicación:</strong> Asia (Mongolia)</p>
                <p><strong>Alimentación:</strong> Carnívoro</p>
                <p><strong>Agresividad:</strong> Alta</p>
                <p><strong>Familia:</strong> Dromaeosauridae</p>
                <p><strong>Especie:</strong> Velociraptor mongoliensis</p>
            </div>
        </div>

        <!-- Ankilosaurio -->
        <div class="dino-tarjeta">
            <div class="dino-imagen">
                <img src="../../web/img/ankylosaurio.webp" alt="Ankilosaurio">
            </div>
            <h3>Ankilosaurio</h3>
            <div class="dino-info">
                <p><strong>Periodo:</strong> Cretácico</p>
                <p><strong>Era:</strong> Mesozoico</p>
                <p><strong>Tiempo de vida:</strong> Hace 68-66 millones de años</p>
                <p><strong>Ubicación:</strong> Norteamérica</p>
                <p><strong>Alimentación:</strong> Herbívoro</p>
                <p><strong>Agresividad:</strong> Media</p>
                <p><strong>Familia:</strong> Ankylosauridae</p>
                <p><strong>Especie:</strong> Ankylosaurus magniventris</p>
            </div>
        </div>

        <!-- Brachiosaurio -->
        <div class="dino-tarjeta">
            <div class="dino-imagen">
                <img src="../../web/img/brachiosaurio.webp" alt="Brachiosaurio">
            </div>
            <h3>Brachiosaurio</h3>
            <div class="dino-info">
                <p><strong>Periodo:</strong> Jurásico</p>
                <p><strong>Era:</strong> Mesozoico</p>
                <p><strong>Tiempo de vida:</strong> Hace 154-150 millones de años</p>
                <p><strong>Ubicación:</strong> Norteamérica y África</p>
                <p><strong>Alimentación:</strong> Herbívoro</p>
                <p><strong>Agresividad:</strong> Baja</p>
                <p><strong>Familia:</strong> Brachiosauridae</p>
                <p><strong>Especie:</strong> Brachiosaurus altithorax</p>
            </div>
        </div>

        <!-- Allosaurio -->
        <div class="dino-tarjeta">
            <div class="dino-imagen">
                <img src="../../web/img/allosaurus.webp" alt="Allosaurio">
            </div>
            <h3>Allosaurio</h3>
            <div class="dino-info">
                <p><strong>Periodo:</strong> Jurásico</p>
                <p><strong>Era:</strong> Mesozoico</p>
                <p><strong>Tiempo de vida:</strong> Hace 155-145 millones de años</p>
                <p><strong>Ubicación:</strong> Norteamérica</p>
                <p><strong>Alimentación:</strong> Carnívoro</p>
                <p><strong>Agresividad:</strong> Alta</p>
                <p><strong>Familia:</strong> Allosauridae</p>
                <p><strong>Especie:</strong> Allosaurus fragilis</p>
            </div>
        </div>

        <!-- Iguanodon -->
        <div class="dino-tarjeta">
            <div class="dino-imagen">
                <img src="../../web/img/iguanodon.webp" alt="Iguanodon">
            </div>
            <h3>Iguanodon</h3>
            <div class="dino-info">
                <p><strong>Periodo:</strong> Cretácico</p>
                <p><strong>Era:</strong> Mesozoico</p>
                <p><strong>Tiempo de vida:</strong> Hace 126-122 millones de años</p>
                <p><strong>Ubicación:</strong> Europa</p>
                <p><strong>Alimentación:</strong> Herbívoro</p>
                <p><strong>Agresividad:</strong> Media</p>
                <p><strong>Familia:</strong> Iguanodontidae</p>
                <p><strong>Especie:</strong> Iguanodon bernissartensis</p>
            </div>
        </div>

        <!-- Carnotauro -->
        <div class="dino-tarjeta">
            <div class="dino-imagen">
                <img src="../../web/img/carnotauro.jpg" alt="Carnotauro">
            </div>
            <h3>Carnotauro</h3>
            <div class="dino-info">
                <p><strong>Periodo:</strong> Cretácico</p>
                <p><strong>Era:</strong> Mesozoico</p>
                <p><strong>Tiempo de vida:</strong> Hace 72-69 millones de años</p>
                <p><strong>Ubicación:</strong> Sudamérica</p>
                <p><strong>Alimentación:</strong> Carnívoro</p>
                <p><strong>Agresividad:</strong> Alta</p>
                <p><strong>Familia:</strong> Abelisauridae</p>
                <p><strong>Especie:</strong> Carnotaurus sastrei</p>
            </div>
        </div>

        <!-- Parasaurio -->
        <div class="dino-tarjeta">
            <div class="dino-imagen">
                <img src="../../web/img/parasaurio.jpg" alt="Parasaurio">
            </div>
            <h3>Parasaurio</h3>
            <div class="dino-info">
                <p><strong>Periodo:</strong> Cretácico</p>
                <p><strong>Era:</strong> Mesozoico</p>
                <p><strong>Tiempo de vida:</strong> Hace 76-73 millones de años</p>
                <p><strong>Ubicación:</strong> Norteamérica</p>
                <p><strong>Alimentación:</strong> Herbívoro</p>
                <p><strong>Agresividad:</strong> Baja</p>
                <p><strong>Familia:</strong> Hadrosauridae</p>
                <p><strong>Especie:</strong> Parasaurolophus walkeri</p>
            </div>
        </div>

        <!-- Diplodocus -->
        <div class="dino-tarjeta">
            <div class="dino-imagen">
                <img src="../../web/img/diplodocus.jpg" alt="Diplodocus">
            </div>
            <h3>Diplodocus</h3>
            <div class="dino-info">
                <p><strong>Periodo:</strong> Jurásico</p>
                <p><strong>Era:</strong> Mesozoico</p>
                <p><strong>Tiempo de vida:</strong> Hace 154-152 millones de años</p>
                <p><strong>Ubicación:</strong> Norteamérica</p>
                <p><strong>Alimentación:</strong> Herbívoro</p>
                <p><strong>Agresividad:</strong> Baja</p>
                <p><strong>Familia:</strong> Diplodocidae</p>
                <p><strong>Especie:</strong> Diplodocus longus</p>
            </div>
        </div>

        <!-- Stegosaurus -->
        <div class="dino-tarjeta">
            <div class="dino-imagen">
                <img src="../../web/img/estegosaurio.jpg" alt="Stegosaurus">
            </div>
            <h3>Stegosaurus</h3>
            <div class="dino-info">
                <p><strong>Periodo:</strong> Jurásico</p>
                <p><strong>Era:</strong> Mesozoico</p>
                <p><strong>Tiempo de vida:</strong> Hace 155-150 millones de años</p>
                <p><strong>Ubicación:</strong> Norteamérica</p>
                <p><strong>Alimentación:</strong> Herbívoro</p>
                <p><strong>Agresividad:</strong> Baja</p>
                <p><strong>Familia:</strong> Stegosauridae</p>
                <p><strong>Especie:</strong> Stegosaurus stenops</p>
            </div>
        </div>

        <!-- Spinosaurus -->
        <div class="dino-tarjeta">
            <div class="dino-imagen">
                <img src="../../web/img/spinosaurus.jpg" alt="Spinosaurus">
            </div>
            <h3>Spinosaurus</h3>
            <div class="dino-info">
                <p><strong>Periodo:</strong> Cretácico</p>
                <p><strong>Era:</strong> Mesozoico</p>
                <p><strong>Tiempo de vida:</strong> Hace 112-93 millones de años</p>
                <p><strong>Ubicación:</strong> Norte de África</p>
                <p><strong>Alimentación:</strong> Carnívoro/Piscívoro</p>
                <p><strong>Agresividad:</strong> Muy alta</p>
                <p><strong>Familia:</strong> Spinosauridae</p>
                <p><strong>Especie:</strong> Spinosaurus aegyptiacus</p>
            </div>
        </div>
    </section>
</body>
</html>