<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../web/css/registro.css">
</head>

<body>
   

    <form method="post" action="../dat/registro.php">
         <label for="">Nombre de Usuario</label><br><input type="text" name="nombre" id="nombre"><br>
        <label for="">Correo</label><br><input type="email" name="email" id="email"><br>
        <label for="">Contraseña</label><br><input type="password" name="clave" id="clave"><br>
       

        <input type="submit" name="regist" value="registrarse"><br>
    </form>
</body>

</html>